<!DOCTYPE html>

<html lang="en">
    <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>404 Error : Page Not Found</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="admin" >

    <!--  styles -->
<link href='http://fonts.googleapis.com/css?family=Carrois+Gothic+SC' rel='stylesheet' type='text/css'>
    
<style>
{% include "bootstrap/css/bootstrap.css" %}
{% include "bootstrap/css/error.css"%}
{% include "bootstrap/css/bootstrap.min.css" %}
{% include "bootstrap/css/backgrnd.css" %}
</style>
    
  <body bgcolor="#E8E8E8">
      <!-- Main hero unit for a primary marketing message or call to action -->
<!--       <div class="jumbotron"> -->
<!--         <div class="container"> -->
            <div class="row">
                <div class="span12 text-center">
                <img src="http://i.imgur.com/zmJ1jSS.jpg?1">
                    <p class="lead"><br>
                        This is not the page you were looking for.
                    </p>
                    <p><a href='/'><font size='3'>Back To Home</font></a></p>
<!--                         <form class="form-search marginpage" role="form" action="/" method="POST"> -->
<!--                         </form> -->
<!--                 </div> -->
<!--             </div> -->
        </div>
      </div>
 

  

</body>
</html>
