/*About Us page*/
<html>
 <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="admin" >
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">

    <title>About Us</title>
    <script type="text/javascript">
        function signup()
        {
            window.location.replace("/signup_page/","Signup","height=450,widgth=200,resizable=1,scrollbars=1")
        }
    </script>
    <style>
        {% include "bootstrap/css/bootstrap.min.css" %}
        {% include "bootstrap/css/style.css" %}
	{% include "bootstrap/css/backgrnd.css" %}
    </style>
    
 
    <!-- Bootstrap core CSS -->
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="jumbotron.css" rel="stylesheet">
    <link href="sticky-footer.css" rel="stylesheet">
    <script type="text/javascript" src="http://code.jquery.com/jquery.min.js"></script>
<!--     <script src="bootstrap/js/bootstrap.min.js"></script> -->



  </head>

  <body>
<div id="wrap">
       {% include "header.html" %}
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron2">
      <div class="container">
        <div class="row">
        <div class="col-md-6">
        
							
      											<div class="container">
    
			<h2>About Us</h2>
          		<p><font size="4">We are a group of students pursuing B-Tech. in Information And Communication Technology at
			Dhirubhai Ambani Insitute of Information and Communication Technology (DA-IICT) situated in Gandhinagar, Gujarat, India.</font></p>
			<p><font size="4">Hello!</font></p>
               		</div>
  									        
        
          
       </div>
      </div>
    </div>

			
   
    </div> <!-- /container -->
				
    {% include "footer.html" %}

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
            <script> {% include "bootstrap/js/bootstrap.min.js" %}
{% include "bootstrap/js/jquery.min1.js" %}
{% include "bootstrap/js/login_check.js" %} </script>

  </body>
</html>
