
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Numbertank</title>
    <meta name="fragment" content="!"/>
    <meta name="robots" content="NOODP"/>
    <meta name="description" content="Make free calls to mobile phones"/>
    <meta name="keywords" content="free call,pc to mobile free call"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="content-language" content="en-US"/>
    <meta name="author" content="Shantai Technologies Ltd."/>
    <meta name="copyright" content="&copy; @2013 Numbertank"/>
    <noscript><meta http-equiv="Refresh" content="1;url=browser/javascript" /></noscript>
    <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon"/>
    <link href="http://static.numbertank.com/stylesheets/stylesheet.css?v=4" rel="stylesheet" type="text/css" />
</head>
<body>
    {% include "header.html" %}
    <div id="wrapper"><div class="top" id="header-container"><header id="header" class="clearfix"></header></div>
        <section id="javamsg"  style="border:1px solid #dedede;display:none;position:absolute;background:#fefca1;height:40px;line-height:40px;padding:0px 10px;font-size:13px;font-family:'Lucida Sans Unicode', 'Lucida Grande', sans-serif">Please update to the latest Java version to continue making calls from Numbertank.</section>
        <div id="middle-container" class="clearfix"></div><div class="push"></div></div>
    <footer id="footer" class="footer clearfix">
        <section class="left"><ul><li><a href="#!/about">About</a></li><li><a href="#!/contact">Contact</a></li><li><a href="#!/privacy">Privacy</a></li><li><a href="#!/terms">Terms</a></li><li><a href="#!/faq">Faq</a></li></ul></section>
        <section class="right">&copy; 2014. Numbertank</section>
    </footer>
</body>
<script> {% include "bootstrap/js/bootstrap.min.js" %}</script>
<script>var requirejs = { urlArgs: 'v=30' };</script>
<script data-main="//static.numbertank.com/js/main" src="//static.numbertank.com/js/require.js" type="text/javascript"></script>
<div id="feedback" style="margin-right: 0px;">
<section id="feedback-container" class="clearfix active">
<span id="feedback-button" class="login close">feedback</span>
<section id="feedback-form-box" class="login">
<div id="feeddback-form">
<p><input type="text" placeholder="Email Address" maxlength="30" id="feedbackemail" class=" placeholderspolyfill" data-currentplaceholder="Email Address"></p>
<p style="margin-bottom:10px;"><textarea placeholder="Message" rows="" cols="" name="" id="feedbackmessage" class=" placeholderspolyfill" data-currentplaceholder="Message"></textarea></p><p class="red" id="feedbackerror"></p>
<button type="button" class="btn btn-success" id="feedbackSubmit">Send</button>
</div>
</section>
</section>
</div>
</html>