/*template for the welcome screen*/
<html>
 <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="admin" >
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">

    <title>Welcome</title>
    
    <style>
        {% include "bootstrap/css/bootstrap.min.css" %}
        {% include "bootstrap/css/style.css" %}
            {% include "bootstrap/css/bootstrap-datetimepicker.min.css"%}
    </style>
    
    <script type="text/javascript">
        function signup()
        {
            window.location.replace("/signup_page/","Signup","height=450,widgth=200,resizable=1,scrollbars=1")
        }
    </script>
    
    <!-- Bootstrap core CSS -->
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="jumbotron.css" rel="stylesheet">
    <link href="sticky-footer.css" rel="stylesheet">


  </head>

  <body>

    {% include "header.html" %}

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <div class="row">
        <div class="col-md-6">
        
							
      											<div class="container">
        									<h2>Welcome to Carpool!</h2>
          								<p>Post the vacancy in your car, reserve a trip.  </p>
          								 									

          							 <h2>Tutorial</h2>
															 <img src="images/video.jpg" class="img-responsive" alt="Responsive image">

          							 	</div>
      										</div>
    									        
<div class="col-md-6">
              <h2 class="reserveAlign">Search</h2>
                <br>
            <div class="container">

<!--             THIS IS THE PART GIVING PROBLEM MOSTLY -->
            
    <form class="form-horizontal" role="form" action="/search_do/" method="POST">
				<div class="form-group">
                    <div class="col-sm-2 control-label">From</div>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" placeholder="Location" name="fro">
                    </div>
                </div>	
                <div class="form-group">
                    <div class="col-sm-2 control-label">To</div>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" placeholder="Location" name="to">
                    </div>
                </div>
                
                      
               <div class="form-group">
               
               <div class="col-sm-2 control-label">Date</div>
               
               <div class="col-md-10">
               <div class="input-group date form_datetime "  data-date-format="dd MM yyyy - HH:ii p" data-link-field="dtp_input1" >
                    <input class="form-control" id="date_time" name="date_time" style="background-color:white; cursor:default;" size="16" type="text"  placeholder="Set Date and Time "value="" readonly>
                    <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
                </div>
                <input type="hidden" id="dtp_input1" value="" />
            </div>
            </div>
           </div>
              <!--  <div class="form-group">
                    <div class="col-sm-2 control-label">Date</div>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" placeholder="Date of Journey" name="date">
                    </div>
                </div>
                <div class="form-group">
                    <div  class="col-sm-2 control-label">Time</div>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" placeholder="from" name="time_start">
                        <input type="text" class="form-control" placeholder="to" name="time_end">
                    </div>
                    
                </div>-->

                <div class="form-group">
                    <div class="col-sm-2 control-label" for="radios"> &nbsp &nbspGender</div>
                    <div class="col-sm-10">
                    <label class="radio-inline">
                            <input type="radio" value="2" name="men_women">
                                Only Men
                            </input>
                    </label>
                    <label class="radio-inline">
                            <input type="radio" value="1" name="men_women">
                                Only Women
                            </input>
                    </label>
                    <label class="radio-inline">
                            <input type="radio" value="0" name="men_women">
                                Both
                            </input>
                    </label>
                    </div>
                </div>  
		<br>
                <button type="submit" class="btn btn-default center-block" name="submit">Submit</button>
            </form>     
        </div>
    </div>
    </div>
    </div>
    <hr>	
    </div> 


      <hr>	

			
   
    </div> <!-- /container -->
        <div id="footer">
          <div class="container">
            <p><a href="/aboutus/">About Us</a>&nbsp &nbsp &nbsp &nbsp &nbsp<a href="/faq/">FAQs</a>&nbsp &nbsp &nbsp &nbsp &nbsp<a href="/contactus/">Contact Us</a></p>
            <p class="text-muted">&copy; Carpool 2014</p>
            </div>
        </div>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<!--     <script src="bootstrap/js/bootstrap.min.js"></script> -->
    <script type="text/javascript">
 {% include "bootstrap/js/jquery-1.8.3.min.js"%}
{% include  "bootstrap/js/bootstrap.min.js" %}
{% include "bootstrap/js/bootstrap-datetimepicker.js" %} </script>
<script type="text/javascript">  $('.form_datetime').datetimepicker({
        //language:  'fr',
        weekStart: 1,
        todayBtn:  1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        forceParse: 0,
        showMeridian: 1
    });
    
    </script>
		
  </body>
</html>