<html>
<head>

    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
     <link href="bootstrap/css/style.css" rel="stylesheet">
     
      
        <style>
            {% include "bootstrap/css/style.css" %}
            {% include "bootstrap/css/bootstrap.min.css" %}
            {% include "bootstrap/css/checks.css" %}
	    {% include "bootstrap/css/backgrnd.css" %}
/*             % include "jumbotron-narrow.css" % */
            
            
        </style>
</head>
<body>
{% include "header.html" %}
<div class="container">
<div class="form-group">
    <div class="row" style="vertical-align: middle; ">
    <div class="col-md-4">
    </div>
    <br>
    <br>
    <br>
    <br>
		<form role="form" class="col-md-8" method="post" action="/invite/">
			<div class="form-group">
			<label for="email_id">Email Address (Enter multiple values separated by a comma(,))</label>
			<input id="email" name="email_id" type="text" class="form-control" required>
			
		</div>
			<label for="message">Message</label>
			<textarea id="message" name="message" class="form-control" required>{{message}}</textarea>
			<br>
		<div class="controls">
		<button type="submit" class="btn btn-success" id="button">Submit</button>
		</div>
		</form>
    
	</div>
</div>
</div>
<style>
{% include "bootstrap/js/validate.js" %}
{% include "bootstrap/js/jquery.min1.js" %}
</style>

{% include "footer.html" %}

</body>
</html>
