<html>
<head>
<title>Post New Trip</title>

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Bootstrap -->

<style>
    {% include "bootstrap/css/bootstrap.min.css" %}
    {% include "bootstrap/css/style.css" %}
    {% include "bootstrap/css/bootstrap.min.css" %}
</style>
    
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="bootstrap/css/style.css" rel="stylesheet" media="screen">
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<link href="./bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="./bootstrap/css/bootstrap-datetimepicker.min.css" rel="stylesheet" media="screen">
	<script type="text/javascript" src="http://code.jquery.com/jquery.min.js"></script>
<link href="jumbotron.css" rel="stylesheet">
	
    
			

    
</head>
<body>
    <div class="container" class="jumbotron" style=" background-color:E1E1E8; padding-left: 90px; padding-bottom: 30px; width:50%; margin:0 auto; border-radius:4px;">
        <br>

  
    <div class="row">
        
            <legend><a href="http://www.jquery2dotnet.com"><i class="glyphicon glyphicon-arrow-right"></i></a> Post Your Trip!</legend>
            <form action="http://localhost:8000/post_new/" method="post" class="form" role="form">
            <div class="row">
                <div class="col-md-5">
                    <input class="form-control" name="fro" placeholder="From" type="text"
                        required autofocus />
                </div>
                <div class="col-md-5">
                    <input class="form-control" name="to" placeholder="To" type="text" required />
                </div>
           
			

 
		</div>
		<br>
		
		<div class="row">
 <div class="col-md-5">
		<div class="form-group">
               
                <div class="input-group date form_datetime "  data-date-format="dd MM yyyy - HH:ii p" data-link-field="dtp_input1" >
                    <input class="form-control" style="background-color:white" size="16" type="text"  placeholder="click on the side to set date  "value="" readonly>
                    
					<span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
                </div>
				<input type="hidden" id="dtp_input1" value="" />
            </div>
			</div>
			<div class="col-md-5">
                    <input class="form-control" name="phone" placeholder="Phone Number" type="text" >
                </div>
			</div>
       
		
   


                <div class="row">
                
                <div class="col-md-5">
                    <input class="form-control" name="car_number" placeholder="Car Number" type="text" >
                </div>
				<div class="col-md-5">
                     <select class="form-control" name="ac" >
  <option selected="selected">Car Type</option>
  <option  value="0">AC</option>
  <option value="1">Non-AC</option>
</select>
                    </div>
                </div>
<br>

                <div class="row">
                
                
                <div class="col-md-5">
                    <select class="form-control" name="men_women" >
  <option selected="selected ">Allow</option>
  <option value="0">Men</option>
  <option value="1">Women</option>
  <option value="2">Both</option>
  
</select>
                </div>
				
				<div class="col-md-5">
                   <select class="form-control" name="available_to">
  <option selected="selected">Available to</option>
  <option value="0" >All</option>
  <option value="1">Friends Only</option>
</select>
</div>
                
               
                
                                
                </div>
            
                <br>

<!--      
                
            <div class="row">
                <div class="col-md-6">
                    hr : 
                                
                    <select class="form-control" id = "hour" name = "hour">
                    
                        <script>
                            for(var i=0; i<=12; i++){
                                var select = document.getElementById("hour");
                                var option = document.createElement("OPTION");
                                select.options.add(option);
                                option.text = i;
                                option.value = i;
                            }
                        </script>
                         <!--{% for hr in hrange %}
                            <option value={{hr}} name="hour">{{ hr }}</option>
                         {% endfor %}-->
                        
                        <!--<option value="01" name="hour">01</option>
                        
                        <option value="03" name="hour">03</option>
                        <option value="04" name="hour">04</option>
                        <option value="05" name="hour">05</option>
                    </select>
                    min : 
                    <select class="form-control" id = "min" name = "min">
                        <script>
                            for(var i=0; i<=60; i++){
                                var select = document.getElementById("min");
                                var option = document.createElement("OPTION");
                                select.options.add(option);
                                option.text = i;
                                option.value = i;
                            }
                        </script>
                        
                        <!--<option value="hour">01</option>
                        <option value="hour">02</option>
                        <option value="hour">03</option>
                        <option value="hour">04</option>
                        <option value="hour">05</option>                    
                    </select>
                </div>
			
                <div class="col-md-6">
                    dd : 
                    <select class="form-control" id = "day" name = "day">
                        <script>
                            for(var i=1; i<=31; i++){
                                var select = document.getElementById("day");
                                var option = document.createElement("OPTION");
                                select.options.add(option);
                                option.text = i;
                                option.value = i;
                            }
                        </script>
                        
                        <!--<option value="Date">2</option>
                        <option value="Date">3</option>
                        <option value="Date">4</option>
                        <option value="Date">5</option>
                    </select>
                    mm : 
                    <select class="form-control" id = "month" name = "month">
                        <script>
                            for(var i=1; i<=12; i++){
                                var select = document.getElementById("month");
                                var option = document.createElement("OPTION");
                                select.options.add(option);
                                option.text = i;
                                option.value = i;
                            }
                        </script>
                        
                        <!--<option value="Date">2</option>
                        <option value="Date">3</option>
                        <option value="Date">4</option>
                        <option value="Date">5</option>
                    </select>
                    yyyy : 
                    <select class="form-control" id = "year" name = "year">
                        <script>
                            for(var i= 2014; i<=2016; i++){
                                var select = document.getElementById("year");
                                var option = document.createElement("OPTION");
                                select.options.add(option);
                                option.text = i;
                                option.value = i;
                            }
                        </script>
                
                        <!--
                        <option value="Date">2</option>
                        <option value="Date">3</option>
                        <option value="Date">4</option>
                        <option value="Date">5</option>
                    </select>
                    
                </div>
            </div>
-->
		
		<div class="row">
		 

				<div class="col-md-5">
				<select class="form-control" name="total_seats" >
  <option selected="selected">Seats Available</option>
  <option value="1">1</option>
  <option value="1">2</option>
  <option value="1">3</option>
  <option value="1">4</option>
  <option value="1">5</option>
  <option value="1">6</option>
  <option value="1">8</option>
  <option value="1">9</option>
  <option value="1">10</option>
  <option value="1">11</option>
</select>
</div>
<div class="col-md-5">
                    <input class="form-control" name="cost" placeholder="Cost" type="text" required />
                </div>

</div>

</div>
<br>





<label class="checkbox" for="smsnotify">
      <input type="checkbox" name="sms_notif" id="Travelwith-1" value="1">
      Would like to recieve SMS if anyone requests for reservation
    </label>
                

<label class="checkbox" for="acceptance">
      <input type="checkbox" name=autoaccept id="Travelwith-1" value="1">
        Reserve automatically (without approval)
    </label>
                
<div class="control group">
<hr class="colorgraph">
<div class="col-md-5">
  <label class="control-label" for="singlebutton"></label>
  <div class="controls">
    <button id="singlebutton" name="singlebutton" class="btn btn-success btn-block btn-lg"><span class="glyphicon glyphicon-ok-sign"></span>Done</span></button>
  </div>
</div>
</div>

</fieldset>
      
	  </form>

    </div>
     <div id="footer">
          <div class="container">
            <p><a href="/aboutus/">About Us</a>&nbsp &nbsp &nbsp &nbsp &nbsp<a href="/faq/">FAQs</a>&nbsp &nbsp &nbsp &nbsp &nbsp<a href="/contactus/">Contact Us</a></p>
            <p class="text-muted">&copy; Carpool 2014</p>
            </div>
        </div>

	
	<script type="text/javascript" src="./bootstrap/js/jquery-1.8.3.min.js" charset="UTF-8"></script>
<script type="text/javascript" src="./bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="./bootstrap/js/bootstrap-datetimepicker.js" charset="UTF-8"></script>
<script type="text/javascript">
    $('.form_datetime').datetimepicker({
        //language:  'fr',
        weekStart: 1,
        todayBtn:  1,
		autoclose: 1,
		todayHighlight: 1,
		startView: 2,
		forceParse: 0,
        showMeridian: 1
    });
	</script>
</body>
</html>