<html>
<head>
<meta charset="utf-8">
<title>My page</title>
 <style>
    {% include "bootstrap/css/bootstrap.min.css" %}
    {% include "bootstrap/css/bootstrap.css" %}
    {% include "bootstrap/css/star-rating.css" %}
    {% include "bootstrap/css/star-rating.min.css" %}
    {% include "bootstrap/css/extra.css" %}
    {% include "bootstrap/css/bootstrap-theme.css" %}
</style>
<script>
    {% include "bootstrap/js/bootstrap.js" %}
</script>
<script>
    {% include "bootstrap/js/jquery.min.js" %}
</script>
<script>
    {% include "bootstrap/js/jquery.js" %}
</script>
<script>
    {% include "bootstrap/js/star-rating.js" %}
    </script>
<script type="text/javascript" src="http://code.jquery.com/jquery.min.js"></script>
<!-- CSS dependencies -->
</head>
<body>
<script>

function onClick(){
bootbox.confirm("<br>Are you sure to cancel?", function(result) {
if (result === false) {
document.getElementById("hr").innerHTML = "You pressed Cancel"
} else {
document.getElementById("hr").innerHTML = "Pressed O.K";
}
})
};

</script>
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">CarPool</a>
        </div>
        <div class="navbar-collapse collapse">
        {% if rider == None %}
          <form class="navbar-form navbar-right" role="form">
            <div class="form-group">
              <input type="text" placeholder="Email" class="form-control">
            </div>
            <div class="form-group">
              <input type="password" placeholder="Password" class="form-control">
            </div>
            <button type="submit" class="btn btn-success">Log in</button>
            <button type="submit" class="btn btn-primary">Sign up</button>
          </form>
        {% else %}
        <div class="nav navbar-nav navbar-right">
            <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Welcome, {{ rider.user.first_name }} <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="/preferences"><span type="input-group-addon" class= "glyphicon glyphicon-cog"></span> &nbsp Preferences  </a></li>
                    <li><a href="/profile"><span type="input-group-addon" class= "glyphicon glyphicon-user"></span> &nbsp Profile  </a></li>
                    <li><a href="/faq"><span type="input-group-addon" class= "glyphicon glyphicon-question-sign"></span> &nbsp FAQ </a></li>
                    <li class="divider"></li>
                    <li><a href="/logout_do"><span type="input-group-addon" class= "glyphicon glyphicon-off"></span>&nbsp Logout</a></li>
                </ul>
            </li>
        </div>
        {% endif %}
        </div><!--/.navbar-collapse -->
      </div>
    </div>
<div class="jumbotron" style="width:100%; height:100%">
      <div class="container">
        
        
        <center>
        
        <div class="row">
<div class="container drop-shadow">

    <div class="centered">
        <h2>Post Details</h2>
            <br>
            <br>
    </div>
        
        <div class="col-md-4 col xs-4">
            <div class="blockquote-box blockquote-info clearfix">
                <div class="square pull-left">
                <span class="glyphicon glyphicon-info-sign glyphicon-lg"></span>
                  
                </div>
                <h4>
                    From Location</h4>
                <p>
                   {{post[0].fro}}
                   <!--Maninagar, Ahmedabad, Gujarat-->
                </p>
            </div>
            <div class="blockquote-box blockquote-warning clearfix">
                <div class="square pull-left">
                    <span class="glyphicon glyphicon-warning-sign glyphicon-lg"></span>
                </div>
                <h4>
                    Date of Travel</h4>
                <p>
            {{date}}
              <!--   21st January 2014 -->
                </p>
            </div>
            <div class="blockquote-box blockquote-danger clearfix">
                <div class="square pull-left">
                    <span class="glyphicon glyphicon-record glyphicon-lg"></span>
                </div>
                <h4>
                    Seats Available</h4>
                <p>
                    {{minus}} Remaining
                </p>
            </div>
        </div>
        <div class="col-md-4 col-xs-4">
            <div class="blockquote-box blockquote-info clearfix">
                <div class="square pull-left">
                    <span class="glyphicon glyphicon-info-sign glyphicon-lg"></span>
                </div>
                <h4>
                     To Location</h4>
                <p>
             {{post[0].to}}
                     <!--DA-IICT, Gandhinagar-->
                </p>
            </div>
            <div class="blockquote-box blockquote-warning clearfix">
                <div class="square pull-left">
                    <span class="glyphicon glyphicon-warning-sign glyphicon-lg"></span>
                </div>
                <h4>
                    Time </h4>
                <p>
            {{time}}
                    <!-- 11:00 AM -->
                </p>
            </div>
            <div class="blockquote-box blockquote-danger clearfix">
                <div class="square pull-left">
                    <span class="glyphicon glyphicon-record glyphicon-lg"></span>
                </div>
                <h4>
                    Cost</h4>
                <p>
                    ₹{{post[0].cost}} per person
                </p>
            </div>
        </div>
<div class="col-md-4 col-xs-4"> 
<div class="contain">
    
<div class="centered" style="padding:5px">

<!--<div class="col-sm-2 col-md-3 user-details">-->
            <div class="user-image">
                <img src="http://i3.kym-cdn.com/photos/images/masonry/000/672/573/605.jpg" class="column" style="height:160px; width:160px; align:center;">
            </div>
            <div class="user-info-block">
                <div class="user-heading">
                    <h3>{{post[0].owner.user.first_name}} {{post[0].owner.user.last_name}}</h3>
                    <h3>Username: {{post[0].owner.user.username}}</h3>
<!--                    <span class="help-block">Sydney, Australia</span>-->
                </div>
                <div class="centered">      
 
<input id="input-21" type="number" class="rating" min="1" max="5" step="1" value="{{ rider.rating/2 }}">
<!-- put rating system here -->

<button class="btn btn-primary">Rate</button>
<button class="btn btn-primary" type="reset">Message Me</button>
<p></p>
</div>      
</div>
</div>
</div>
</div>
</div>
</div>
<br>
<br>
<div id="footer">
          <div class="container">
            <p><a href="/aboutus/"><font size=3>About Us</font></a>&nbsp &nbsp &nbsp &nbsp &nbsp<a href="/faq/"><font size=3>FAQs</font></a>&nbsp &nbsp &nbsp &nbsp &nbsp<a href="/contactus/"><font size=3>Contact Us</font></a></p>
            <p class="text-muted"><font size=3>&copy; Carpool 2014</font></p>
            </div>
        </div>

					<br>
<br>					
<!--       				<button class="btn btn-primary" data-toggle="modal" data-target="#myModal" onClick="onClick()">Cancel</button>							 -->
      										
    			</center>	
				
				<div id = "hr"></div>

 
 </div>
 </div>
<!-- JS dependencies -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script> {% include "bootstrap/js/bootstrap.min.js" %}</script>
 
<!-- bootbox code -->
<script> {% include "bootstrap/js/bootbox.js" %}</script>



<script>
</script>
</body>
</html>