<html>
<head>
<title>Edit Trip Details</title>

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Bootstrap -->

<style>
    {% include "bootstrap/css/bootstrap.min.css" %}
    {% include "bootstrap/css/style.css" %}
    {% include "bootstrap/css/bootstrap.min.css" %}
    {% include "bootstrap/css/bootstrap-datetimepicker.min.css"%}
    {% include "bootstrap/css/checks.css" %}
    {% include "bootstrap/css/backgrnd.css" %}
</style>
    
<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="bootstrap/css/style.css" rel="stylesheet" media="screen">
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="./bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="./bootstrap/css/bootstrap-datetimepicker.min.css" rel="stylesheet" media="screen">
    <script type="text/javascript" src="http://code.jquery.com/jquery.min.js"></script>
<link href="jumbotron.css" rel="stylesheet">
    
			

    
</head>
<body>
{%include "header.html" %}

<br>
    <div class="container" class="jumbotron">

   <!-- <div class="container" style=" background-color:E1E1E8; padding-left: 90px; padding-bottom: 30px; width:50%; margin:0 auto; border-radius:4px;">-->
       

  <div class = "container" padding-left: 300>
  
    <div class="row">
        <div align="center">
            <legend><span class="glyphicon glyphicon-arrow-th"></span> Edit Your Trip Details!</legend>
            </div>
            <form action="/post_new/" method="post" class="form" role="form">
            <div align="center">
            <h3><b>Edit Your Trip's Details</b></h3>
            </div>
            <div class="row">
            <br>
            <div class="col-md-2"> </div>
                <div class="col-md-4">
                <label for="fro">
                            FROM  </label>
                        <p><font size="4"> {{post.fro}} </font></p>
                </div>
                <div class="col-md-4">
                <label for="to">
                            TO  </label>
				<p><font size="4"> {{post.to}} </font></p>
                </div>
           
			

 
		</div>
		<br>
		
		<div class="row">
		<div class="col-md-2"> </div>
 <div class="col-md-4">
		<div class="form-group">
               <label for="">
                            DATE & TIME </label>
                <div class="input-group date form_datetime "  data-date-format="dd MM yyyy - HH:ii p" data-link-field="dtp_input1">
                    <input class="form-control"  id="datetime" style="background-color:white; cursor:default;" size="16" type="text"  placeholder="Date and Time" name="date_time" readonly >
                    
					<span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
                </div>
            </div>
			</div>
			
			
			
			<div class="col-md-4">
			<label for="phone">
                            CONTACT ME  </label>
                    <input class="form-control" name="phone" id="phone" placeholder="Phone Number" type="text" value="{{post.owner.phone}}" required>
                </div>
			</div>
       
		
                <div class="row">
                <div class="col-md-2"> </div>
                <div class="col-md-4">
                <label for="">
                            CAR NUMBER </label>
                    <input class="form-control" name="car_number" placeholder="Car Number" type="text" value="{{post.car_number}}" required>
                </div>
				
<div class="col-md-4">
<label for="">CAR TYPE  </label>
 <select class="form-control" name="ac" >
  {% if post.ac==1 %}
<!--   <option selected="selected">{{ post.ac }}</option> -->
  <option  value="1" selected="selected">AC</option>
  <option value="0">Non-AC</option>
  {% else %}
  <option  value="1">AC</option>
  <option value="0" selected="selected">Non-AC</option>
  {% endif %}
</select>
                </div>
                </div>
<br>

                <div class="row">
                
                <div class="col-md-2"> </div>
                <div class="col-md-4">
                <label for="men_women">
                            CAN BE RESERVED BY </label>
                    <select class="form-control" name="men_women">
<!--   <option selected="selected ">{{ post.men_women }}</option> -->
  {% if post.men_women==0 %}
  <option value="2">Men</option>
  <option value="1">Women</option>
  <option value="0" selected>Both</option>
  {% elif post.men_women==1 %}
  <option value="2">Men</option>
  <option value="1" selected>Women</option>
  <option value="0">Both</option>
  {% else %}  
  <option value="2" selected>Men</option>
  <option value="1">Women</option>
  <option value="0">Both</option>
  {%endif%}
  
</select>
                </div>
				
				<div class="col-md-4">
				<label for="available_to">
                            CAN BE VIEWED BY  </label>
                   <select class="form-control" name="available_to">
  {% if post.available_to==0 %}
  <option value="0" selected>All</option>
  <option value="1">Facebook Friends Only</option>
  {%else%}
  <option value="0">All</option>
  <option value="1" selected>Facebook Friends Only</option>
  {%endif%}
</select>
</div>                                         
                </div>            
                <br>

		
		<div class="row">
		<div class="col-md-2"> </div>
		 
				<div class="col-md-4">
				<label for="total_seats">
                            SEATS AVAILABLE  </label>
				<select class="form-control" name="total_seats">
<!--   <option selected="selected">{{ total_seats }}</option> -->
  <option value="1" selected>1</option>
  <option value="2">2</option>
  <option value="3">3</option>
  <option value="4">4</option>
  <option value="5">5</option>
  <option value="6">6</option>
  <option value="7">7</option>
  <option value="8">8</option>
  <option value="9">9</option>
  <option value="10">10</option>
</select>
</div>
<div class="col-md-4">
<label for="cost">
                            COST PER SEAT </label>
                    <input class="form-control" name="cost" placeholder="Cost in Rupees" type="text" value="{{ post.cost }}" required />
                </div>

</div>

</div>
<br>


                
<div class="col-md-2"> </div>
<div class="col-md-4"> 
<label class="checkbox" for="acceptance">
      <input type="checkbox" name="autoaccept" id="Travelwith-1">
        Reserve automatically (without approval)
    </label>
 </div>

<div class="col-md-1"> </div>
<div class="col-md-11" align="center">
  <label class="control-label" for="singlebutton"></label>
  <div class="controls">
  &nbsp &nbsp 
<button id="singlebutton" name="singlebutton" class="btn btn-success btn-lg"> Submit Post </span></button>
  </div>
</div>

</fieldset>
      
	  </form>

    </div></div>
    </div>



	
	<script type="text/javascript" src="./bootstrap/js/jquery-1.8.3.min.js" charset="UTF-8"></script>
<script type="text/javascript" src="./bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="./bootstrap/js/bootstrap-datetimepicker.js" charset="UTF-8"></script>
<script type="text/javascript">
    $('.form_datetime').datetimepicker({
        //language:  'fr',
     

	<script type="text/javascript">
            {% include "bootstrap/js/jquery-1.8.3.min.js"%}
{% include  "bootstrap/js/bootstrap.min.js" %}
{% include "bootstrap/js/bootstrap-datetimepicker.js" %}
{% include "/bootstrap/js/validate.js" %}
</script>
<script type="text/javascript">  $('.form_datetime').datetimepicker({
        format:"dd MM yyyy - hh:ii",
        weekStart: 1,
        todayBtn:  1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        forceParse: 0,
    });

	</script>



    
    </script>

{% include "footer.html" %}
</body>
</html>
