<html>
<head>
<title>Welcome Driver! </title>

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Bootstrap -->
<script src ="bootstrap/js/bootstrap.js">
	{% include "bootstrap/js/bootstrap.js" %}
</script>
<script src="bootstrap/js/jquery.min.js">
	{% include "bootstrap/js/jquery.min.js" %}
</script>
<script src="bootstrap/js/jquery.js">
	{% include "bootstrap/js/jquery.js" %}
</script>
<script src="bootstrap/js/star-rating.js" type="text/javascript">
	{% include "bootstrap/js/star-rating.js" %}
	</script>

<link href="bootstrap/css/star-rating.css" media="all" rel="stylesheet" type="text/css" />
<link href="bootstrap/css/star-rating.min.css" media="all" rel="stylesheet" type="text/css" />
<link href="bootstrap/css/extra.css" rel="stylesheet" media="screen">
<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
<link href="bootstrap/css/bootstrap.css" rel="stylesheet" media="screen">



<style>
    {% include "bootstrap/css/bootstrap.min.css" %}
  		 {% include "bootstrap/css/bootstrap.css" %}
	   {% include "bootstrap/css/star-rating.css" %}
	   {% include "bootstrap/css/star-rating.min.css" %}
				{% include "bootstrap/css/extra.css" %}
    
</style>    
</head>       
        
<body>
    <div class="row">
<div class="container drop-shadow">

	<div class="centered">
        <h2>Post Details</h2>
			<br>
			<br>
	</div>
		
        <div class="col-md-4 col xs-4">
            <div class="blockquote-box blockquote-info clearfix">
                <div class="square pull-left">
				<span class="glyphicon glyphicon-info-sign glyphicon-lg"></span>
                  
                </div>
                <h4>
                    From Location</h4>
                <p>
                   {{post[0].fro}}
                   <!--Maninagar, Ahmedabad, Gujarat-->
                </p>
            </div>
            <div class="blockquote-box blockquote-warning clearfix">
                <div class="square pull-left">
                    <span class="glyphicon glyphicon-warning-sign glyphicon-lg"></span>
                </div>
                <h4>
                    Date of Travel</h4>
                <p>
		    {{date}}
              <!--   21st January 2014 -->
                </p>
            </div>
            <div class="blockquote-box blockquote-danger clearfix">
                <div class="square pull-left">
                    <span class="glyphicon glyphicon-record glyphicon-lg"></span>
                </div>
                <h4>
                    Seats Available</h4>
                <p>
					{{minus}} Remaining
                </p>
            </div>
        </div>
        <div class="col-md-4 col-xs-4">
            <div class="blockquote-box blockquote-info clearfix">
                <div class="square pull-left">
                    <span class="glyphicon glyphicon-info-sign glyphicon-lg"></span>
                </div>
                <h4>
                     To Location</h4>
                <p>
		     {{post[0].to}}
                     <!--DA-IICT, Gandhinagar-->
                </p>
            </div>
            <div class="blockquote-box blockquote-warning clearfix">
                <div class="square pull-left">
                    <span class="glyphicon glyphicon-warning-sign glyphicon-lg"></span>
                </div>
                <h4>
                    Time </h4>
                <p>
		    {{time}}
                    <!-- 11:00 AM -->
                </p>
            </div>
            <div class="blockquote-box blockquote-danger clearfix">
                <div class="square pull-left">
                    <span class="glyphicon glyphicon-record glyphicon-lg"></span>
                </div>
                <h4>
                    Cost</h4>
                <p>
                    ₹{{post[0].cost}} per person
                </p>
            </div>
        </div>
<div class="col-md-4 col-xs-4">	
<div class="contain">
	
<div class="centered">

<!--<div class="col-sm-2 col-md-3 user-details">-->
            <div class="user-image">
                <img src="http://i3.kym-cdn.com/photos/images/masonry/000/672/573/605.jpg" class="column">
            </div>
            <div class="user-info-block">
                <div class="user-heading">
                    <h3>{{post[0].owner.user.first_name}} {{post[0].owner.user.last_name}}</h3>
                    <h3>Username: {{post[0].owner.user.username}}</h3>
<!--                    <span class="help-block">Sydney, Australia</span>-->
                </div>
                <div class="centered">		
 
<input id="input-21" type="number" class="rating" min="1" max="5" step="1">
        <button class="btn btn-primary">Submit</button>
        <button class="btn btn-primary" type="reset">Message Me</button>
</div>		
</div>
</div>
</div>
</div>
</div>
</div>
<div id="footer">
          <div class="container">
            <p><a href="/aboutus/">About Us</a>&nbsp &nbsp &nbsp &nbsp &nbsp<a href="/faq/">FAQs</a>&nbsp &nbsp &nbsp &nbsp &nbsp<a href="/contactus/">Contact Us</a></p>
            <p class="text-muted">&copy; Carpool 2014</p>
            </div>
        </div>

	
</body>
</html>