<html>
<head>
<title>Post New Trip</title>

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Bootstrap -->

<style>
    {% include "bootstrap/css/bootstrap.min.css" %}
    {% include "bootstrap/css/style.css" %}
    {% include "bootstrap/css/bootstrap.min.css" %}
    {% include "bootstrap/css/bootstrap-datetimepicker.min.css"%}
</style>
    
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="bootstrap/css/style.css" rel="stylesheet" media="screen">
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="./bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="./bootstrap/css/bootstrap-datetimepicker.min.css" rel="stylesheet" media="screen">
    <script type="text/javascript" src="http://code.jquery.com/jquery.min.js"></script>
<link href="jumbotron.css" rel="stylesheet">
    
    
            

    
</head>
<body>
    {% include "header.html" %}
    <div class="container" class="jumbotron" style=" background-color:E1E1E8; padding-left: 90px; padding-bottom: 30px; width:50%; margin:0 auto; border-radius:4px;">
        <br>
    <br>
    <br>
    <h1>Enter Rider details</h1>
    <div class="row">
        
            <legend><a href="http://www.jquery2dotnet.com"><i class="glyphicon glyphicon-arrow-right"></i></a> Post Your Trip!</legend>
            <form action="http://localhost:8000/post_new/" method="post" class="form" role="form">
            <div class="row">
                <div class="col-md-5">
                    <input class="form-control" name="fro" placeholder="From" type="text"
                        required autofocus />
                </div>
                <div class="col-md-5">
                    <input class="form-control" name="to" placeholder="To" type="text" required />
                </div>
           
            

 
        </div>
        <br>
        
        <div class="row">
 <div class="col-md-5">
        <div class="form-group">
               
                <div class="input-group date form_datetime "  data-date-format="dd MM yyyy - HH:ii p" data-link-field="dtp_input1" >
                    <input name="date_time" class="form-control" style="background-color:white; cursor:default;" size="16" type="text"  placeholder="Set Date and Time "value="" readonly>
                    
                    <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
                </div>
                <input type="hidden" id="dtp_input1" value="" />
            </div>
            </div>
            <div class="col-md-5">
                    <input class="form-control" name="car_number" placeholder="Phone Number" type="text" >
                </div>
            </div>
       
        
   


                <div class="row">
                
                <div class="col-md-5">
                    <input class="form-control" name="car_number" placeholder="Car Number" type="text" >
                </div>
                <div class="col-md-5">
                     <select class="form-control" >
  <option selected="selected">Car Type</option>
  <option name="ac" value="0">AC</option>
  <option name="nonac" value="1">Non-AC</option>
</select>
                    </div>
                </div>
<br>

                <div class="row">
                
                
                <div class="col-md-5">
                    <select class="form-control" >
  <option selected="selected">Allow</option>
  <option name="men" value="2">Men</option>
  <option name="women" value="1">Women</option>
  <option name="both" value="0">Both</option>
</select>
                </div>
                
                <div class="col-md-5">
                   <select class="form-control" >
  <option selected="selected">Available to</option>
  <option name="all" value="1" >All</option>
  <option name="friend" value="2">Friends Only</option>
</select>
</div>
                
               
                
                                
                </div>
            
                <br>


        
        <div class="row">
         

                <div class="col-md-5">
                <select class="form-control" >
  <option selected="selected">Total Seats Available</option>
  <option>1</option>
  <option>2</option>
  <option>3</option>
  <option>4</option>
  <option>5</option>
  <option>6</option>
  <option>8</option>
  <option>9</option>
  <option>10</option>
  <option>11</option>
</select>
</div>
<div class="col-md-5">
                    <input class="form-control" name="cost" placeholder="Cost" type="text" required />
                </div>

</div>

</div>
<br>





<label class="checkbox" for="smsnotify">
      <input type="checkbox" name="sms_notif" id="Travelwith-1" value="1">
      Would like to recieve SMS if anyone requests for reservation
    </label>
                

<label class="checkbox" for="acceptance">
      <input type="checkbox" name=autoaccept id="Travelwith-1" value="1">
        Reserve automatically (without approval)
    </label>
                
<div class="control group">
<hr class="colorgraph">
<div class="col-md-5">
  <label class="control-label" for="singlebutton"></label>
  <div class="controls">
    <button id="singlebutton" name="singlebutton" class="btn btn-success btn-block btn-lg"><span class="glyphicon glyphicon-ok-sign"></span>Done</span></button>
  </div>
</div>
</div>

</fieldset>
      
      </form>

    </div>
     <div id="footer">
          <div class="container">
            <p><a href="/aboutus/">About Us</a>&nbsp &nbsp &nbsp &nbsp &nbsp<a href="/faq/">FAQs</a>&nbsp &nbsp &nbsp &nbsp &nbsp<a href="/contactus/">Contact Us</a></p>
            <p class="text-muted">&copy; Carpool 2014</p>
            </div>
        </div>

    
        <script type="text/javascript">
            {% include "bootstrap/js/jquery-1.8.3.min.js"%}
{% include  "bootstrap/js/bootstrap.min.js" %}
{% include "bootstrap/js/bootstrap-datetimepicker.js" %} </script>
<script type="text/javascript">  $('.form_datetime').datetimepicker({
        //language:  'fr',
        weekStart: 1,
        todayBtn:  1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        forceParse: 0,
        showMeridian: 1
    });
    
    </script>
</body>
</html>