
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">

    <title>profile edit</title>

    <style>
        {% include "bootstrap/css/bootstrap.min.css" %}
        {% include "bootstrap/css/profile.css" %}
        {% include "bootstrap/css/drop-shadow.css" %}
    </style>
    
    <!-- Bootstrap core CSS -->
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<link href="bootstrap/css/profile.css" rel="stylesheet">
	<link href="bootstrap/css/drop-shadow.css" rel="stylesheet">
	
    <!-- Custom styles for this template -->
    <link href="jumbotron-narrow.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
          <div class="container">
            <div class="navbar-header">

              <a class="navbar-brand" href="/">CarPool</a>

            </div>



                                <div class="nav navbar-nav navbar-right">
              <a class="navbar-brand" href="/profile/">Welcome, {{ rider.user.first_name }}</a>
              <a class="navbar-brand" href="/logout_do/">Log Out</a>							
                                </div>




            </div><!--/.navbar-collapse -->
          </div>
		  
        </div>
        <br>
	<div class="jumbotron">
    <div class="container">
        <div class="col-lg-6"><div class="conatiner drop-shadow">
		<div class="jumbotron extra">
        

      <div class="row marketing">
	  	<div class="user-image">
            <img src= "{{ rider.image }}" alt="Profile Photo here">
                </div>
			<!-- <!-- <div style="height:400px; width:100%; clear:both;"></div> -->
			<div class="user-info-block">
                <div class="user-heading">
                    				
					<div class="container">
	<div class="row">
		 <form class="form-horizontal" action="/edit_profile/" method="POST">
<!--             <fieldset> -->
                
                <div class="control-group">
                    <label class="control-label">Change Profile Photo:</label>
                    <br>
                    <input type="file" name="image">
                    <button type="submit">Do</button>
                </div>
                
                <div class="control-group">
                    <label class="control-label">First Name</label>
                    <br/>
                    
                    <input id="full-name" name="first_name" type="text" placeholder="full name" class="input-xlarge" value="{{ rider.user.first_name }}">
                    
                </div>
				<div class="control-group">
                    <label class="control-label">Last Name</label>
                    <br/>
                    
                    <input id="full-name" name="last_name" type="text" placeholder="full name" class="input-xlarge" value = "{{ rider.user.last_name }}">
                    
                </div>
                
                <div class="control-group">
                    <label class="control-label">Gender</label>
                    <div class="controls">
                        <select id="Gender" name="gender" class="input-xlarge">
                            <option value="" selected="selected">Please select a value</option>
                            <option id = "m" value="m">Male</option>
                            <option id = "f" value="f">Female</option>
							<option id = "o" value="o">Other</option>
                        </select>
                        <script>
                            var element = document.getElementById('Gender');
                            var valueToSelect = document.getElementById('{{ rider.gender }}');
                            element.value = valueToSelect.value;
                        </script>
					</div>
                </div>
                
                <div class="control-group">
                    <label class="control-label">Email</label>
                    <div class="controls">
                        <input id="Email" name="email" type="text" placeholder="Email" class="input-xlarge" value = "{{ rider.user.email }}">
                    </div>
                </div>
                
				<div class="control-group">
                    <label class="control-label">Phone No.</label>
                    <div class="controls">
                        <input id="Phone No." name="phone" type="text" placeholder="Phone No." class="input-xlarge" value = "{{ rider.phone }}">
                    </div>
                </div>
                
                <div class="control-group">
                    <label class="control-label">Vehicle No.</label>
                    <div class="controls">
                        <input id="Vehicle no." name="car_number" type="text" placeholder="vehicle no." class="input-xlarge" value = "{{ rider.car_number }}">
                    </div>
                </div>
				
				<div class="control-group">
                    <label class="control-label">Authentication</label>
                    <div class="controls">
						<select id="auth_type" name="auth_type" class="input-xlarge">
                            <option id="None" value="None" >Please select a type</option>
                            <option id="PAN" value="PAN">PAN</option>
                            <option id="UID" value="UID">UID</option>
							<option id="Voter ID" value="Voter ID">Voter ID</option>
							<option id="Other" value="Other">Other</option>
                        </select>
                        <script>
                            var element = document.getElementById('auth_type');
                            var valueToSelect = document.getElementById('{{ rider.auth_type }}');
                            element.value = valueToSelect.value;
                        </script>
                        <input id="ID No." name="auth_token" type="text" placeholder="ID No."class="input-xlarge" value = "{{ rider.auth_token }}">
                    </div>
                </div>
            <button type = "submit" class="btn btn-primary center-block">Done</button>
<!--             </fieldset> -->
        </form>
	</div>
	
</div>
				</div>
				</div>
		</div>
		
		</div>
		</div></div>
		

    </div>
        </div></div>
         
     <!-- /container -->

	</div> 
	
	<div id="footer">
          <div class="container">
            <p class="text-muted">&copy; Company 2014</p>
          </div>
        </div>
	
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
       <script src="bootstrap/js/bootstrap.min.js"></script>
       <script>
        {% include "bootstrap/js/bootstrap.min.js" %}
       </script>
  </body>
</html>
