<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
<!--    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">-->
    <script>
    function printer()
    {
        document.getElementById("print").style.display="none";
        document.getElementById("b2dash").style.display="none";
        window.print();
        document.getElementById("print").style.display="block";
        document.getElementById("b2dash").style.display="block";
    }
    </script>
    <title>Receipt</title>

    <!-- Bootstrap core CSS -->
    <style>
    {% include "bootstrap/css/receipt.css" %}
    {% include "bootstrap/css/bootstrap.min.css" %}
    {% include "bootstrap/css/backgrnd.css" %}
    </style>
  </head>

  <body>
	<br>
	<br>
	<div class="container">
    <div class="row">
        <div class="well col-xs-6 col-sm-10 col-md-6 col-xs-offset-1 col-sm-offset-1 col-md-offset-3">
            <div class="row">
                <div class="text-center">
                    <h2>Receipt</h2>
                </div>
                </span>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Owner Details</th>
                            <th>Total&nbspseats</th>
                            <th class="text-center">Date</th>
                            <th class="text-center">Time</th>
							<th> Cost</th>
							<th> Confirmation </th>							
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="col-md-9"><em><b>{{post.owner.user.first_name}}&nbsp{{post.owner.user.last_name}}</b><br><b>Phone:</b> {{post.owner.phone}}<br><b>Car No:</b> {{post.owner.car_number}}</em></td>
                            <td class="col-md-4" style="text-align: center">{{post.total_seats}}</td>
                            <td class="col-md-2">{{post.date_time.date()}}</td>
                            <td class="col-md-1 text-center">{{post.date_time.time()}}</td>
							<td class="col-md-1 text-center">{{post.cost}}</td>
							<td class="col-md-1"><em>Confirmed</em></td>
                        </tr>
                    </tbody>
                </table>
				<!-- <form action="">
					<input type="checkbox" name="SMS" value="Yes">SMS on confirmation<br>
				</form> -->
                <!-- <button type="button" class="btn btn-success center-block">
                    Submit   <span class="glyphicon glyphicon-chevron-right"></span>
                </button> -->
				<button id = "print" type="button" class="btn btn-success center-block" onclick="printer()">Print <span class="glyphicon glyphicon-ok"></span>
                </button>
                <br/>
				<button id = "b2dash" type="button" class="btn btn-info center-block" onclick="window.location.href='/'">Go Back to DashBoard    <span class="glyphicon glyphicon-chevron-right"></span>
                </button>
                <br>
                
				</div>
				<p><font size="2">*Please carry a copy of the receipt, the driver may ask for it</font></p>
            </div>
        </div>
    </div>

	</div>

<!--     {% include "footer.html" %} -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
  </body>
</html>
