
<html>
<head>
    <title>Search Results</title>
	    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
	    <link href="bootstrap/css/style.css" rel="stylesheet">
        <style>
            {% include "bootstrap/css/bootstrap.min.css" %}
            {% include "bootstrap/css/style.css" %}
        </style>
</head>
<body>

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">CarPool</a>
        </div>
        <div class="navbar-collapse collapse">
          <form class="navbar-form navbar-right" role="form">
            <div class="form-group">
              <input type="text" placeholder="Email" class="form-control">
            </div>
            <div class="form-group">
              <input type="password" placeholder="Password" class="form-control">
            </div>
            <button type="submit" class="btn btn-success" href="/login_do/">Log in</button>
            <button type="submit" class="btn btn-primary" href="/signup_do/">Sign up</button>
          </form>
        </div><!--/.navbar-collapse -->
      </div>
    </div>

<div class="jumbotron">

<div class="container reserveAlign">
        <h2>Search Results</h2>
							<p><h4>Here are the search results from {{ searched.fro }} to {{ searched.to }}</h4></p>
							<p><h4> Click on the reserve button to book a trip</h4></p>
								 
                <div class="btn-group">
                    <button type="button" class="btn btn-primary btn-xl">Sort By</button>
                    <button type="button" class="btn btn-primary dropdown-toggle btn-xl" data-toggle="dropdown">
                        <span class="caret"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                      <ul class="dropdown-menu" role="menu">
                        <li><a href="#block_main">Time</a></li>
                        <li class="divider"></li>
                        <li><a href="#block_main">Cost</a></li>
                        <li class="divider"></li>
                        <li><a href="#block_main">Rating</a></li>
                   </ul>
                </div>
                
</div>
      
</div>

<div class="container">
    <div class="row col-md-10 col-md-offset-1 custyle">
    
    <table class="table table-striped custab" id="block_main">
    <thead>
        <tr>
            <th>ID</th>
            <th>Driver</th>
            <th>Date</th>
            <th>Time</th>
            <th>Cost(INR)</th>
            <th>Rating</th>            
            <th class="text-center">Action</th>
            
        </tr>
    </thead>
        {% for post in result_list %}
        <tr>
                <td>1</td>
                <td>{{ post.owner.user.first_name }} </td>
                <td>{{ post.date_time.date() }}</td>
                <td>{{ post.date_time.time() }}</td>
                <td>{{ post.cost }}</td>
                <td>{{ post.owner.user_rating }}</td>
                <td class="text-center"><a class='btn btn-info btn-xs' href="/post_page/?key={{ post.id }}"><span class="glyphicon glyphicon-hand-up"></span> Reserve</a> </td>
                
        </tr>

      {% endfor %}
        
        
            
    </table>
    </div>
</div>

</div> <!-- /container -->
				<div id="footer">
      <div class="container">
        <p class="text-muted">&copy; Company 2014</p>
      </div>
    </div>

  <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <script src="bootstrap/js/searchresult.js"></script>

</body>
</html>