<html>
<head>
<title> First Step to CarPool </title>
<!--<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">-->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Bootstrap -->
<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
<link href="bootstrap/css/style.css" rel="stylesheet" media="screen">
<!--<script>
        window.onunload = refreshParent;
        function refreshParent() {
            window.opener.location.reload();
        }
</script>-->
<script type="text/javascript" src="bootstrap/js/jquery.min.js" charset="utf-8"></script>
<script type="text/javascript" src="bootstrap/js/validate.js" charset="utf-8"></script>

<style>
{% include "bootstrap/css/bootstrap.min.css" %}
{% include "bootstrap/css/style.css" %}
{% include "bootstrap/css/bootstrap.min.css" %}

</style>
</head>       
<body>
<!--<div class="navbar-collapse collapse">
          <form class="navbar-form navbar-right" action="/login_do/" role="form" method="POST">
            <div class="form-group">
              <input type="text" name="username" placeholder="username" class="form-control">
            </div>
            <div class="form-group">
              <input type="password" name="password" placeholder="password" class="form-control">
            </div>
            <button type="submit" class="btn btn-success" >Log in</<script>
        window.onunload = refreshParent;
        function refreshParent() {
            window.opener.location.reload();
        }
</script>
button>
            <button type="button" class="btn btn-primary" onclick = "signup()" >Sign up</button>
          </form>
        </div><!--/.navbar-collapse
      </div>-->

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/index/">CarPool</a>
        </div>
        <div class="navbar-collapse collapse">
          <form class="navbar-form navbar-right" action="/login_do/" role="form" method="POST">
            <div class="form-group">
              <input type="text" name="username" placeholder="username" class="form-control">
            </div>
            <div class="form-group">
              <input type="password" name="password" placeholder="password" class="form-control">
            </div>
            <button type="submit" class="btn btn-success" >Log in</button>
            <button type="button" class="btn btn-primary" onclick = "#" >Sign up</button>
          </form>
        </div><!--/.navbar-collapse -->
      </div>
    </div>

      
      
  
<div class="container">    
<div class="row">

      <form class="form-horizontal" action= "/signup_do/" method = "POST">
        <div id="loginbox" style="margin-top:50px;" class="mainbox col-md-5 c col-sm-5 col-sm-offset-2">               
            <div class="panel panel-info" >
                    <div class="panel-heading">
<div class="centered">
                        <div  class="panel-title" style="text-align: center; font style: bold; font-size: 175%;">New to CarPool? Sign Up!</div>
                    </div>
</div>
<br>
<div class="col-lg-6">
<div class="well well-sm"><strong> * Required Field</strong></div>
</div>
<br>
<div style="padding-top:30px" class="panel-body" >  
<div class="panel-body">
<div class="col-xs-4 col-md-8"> 
<label class="control-label" for="radios">GENDER * </label>
<div class="controls">
<label class="radio-inline">
<input type="radio" name="gender" value="m">
Male
</label>
<label class="radio-inline">
<input type="radio" name="gender" value="f">
Female
</label>
</div>
</div>
<div class="col-xs-0 col-md-12">    
<br>
<label for="username">
                            USERNAME * </label>
                        <div class="input-group">
                            <input type="text" class="form-control" name="username" id="username" placeholder="Valid Username"
                                required autofocus />
                           <span class="input-group-addon"><span class="glyphicon glyphicon-log-in"></span></span>
</div>
</div>
<div class="col-xs-12" style="padding-left:3px">
<div class="col-xs-6 col-md-6">
<div align="left">
                        <label for="first_name">
                            FIRST NAME * </label>
                        <div class="input-group">
                            <input type="text" class="form-control" name="first_name" placeholder="Your First Name"
                                required autofocus />
                            <!--<span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>-->
</div>
</div>
</div>
<div class="col-xs-6 col-md-6">

                        <label for="last_name">
                            LAST NAME</label>
                        <div class="input-group">
                            <input type="text" class="form-control" name="last_name" placeholder="Your Last Name"
                                required autofocus />
                            <!--<span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>-->
</div>
</div>
</div>
<!-- USERNAME PASSWORD -->  
<div class="col-xs-12" style="padding-left:3px">
<div class="col-xs-6 col-md-6">
                        <label for="password">
                            PASSWORD * </label>
                        <div class="input-group">
                            <input type="password" class="form-control" name="password" placeholder="Valid Password"
                                required autofocus />
                            <!--<span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>-->
</div>
</div>
<div class="col-xs-6 col-md-6">
                        <label for="password">
                            PASSWORD * </label>
                        <div class="input-group">
                            <input type="password" class="form-control" name="confirmpassword" placeholder="Confirm Password"
                                required autofocus />
                            <!--<span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>-->
</div>
</div>
</div>
<!-- EMAIL ID-->    
<div class="col-xs-0 col-md-12">    
                        <label for="email">
                            EMAIL ID * </label>
                        <div class="input-group">
                            <input type="text" class="form-control" name="email" placeholder="Enter Valid ID"
                                required autofocus />
                            <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></span>
</div>
</div>
             
<!--CAR NUMBER-->   
<div class="col-xs-0 col-md-12">     
                        <label for="car_number">
                            CAR NUMBER</label>
                        <div class="input-group">
                            <input type="text" class="form-control" name="car_number" placeholder="Enter Your Car Number">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-globe"></span></span>
</div>
</div>
<br>
<!-- CONTACT NUMBER --> 
              
<div class="col-xs-0 col-md-12">    
                        <label for="phone">
                            CONTACT NUMBER * </label>
                        <div class="input-group">
                            <input type="text" class="form-control" name="phone" placeholder="Enter Your Phone Number"
                                required autofocus />
                            <span class="input-group-addon"><span class="glyphicon glyphicon-phone"></span></span>
</div>
</div>
<!-- AUTHENTICATION --> 
<!--
<div class="col-xs-0 col-md-12">
<br>
<div class="input-group">
<div class="input-group-btn">
<button type="btn-default" class="btn dropdown-toggle.btn-default" data-toggle="authentication">Authentication<span class="caret"></span></button>
<ul class="dropdown-menu-right">
<li>None</li>
<li>License Number</li>
<li>PAN Number</li> 
</ul>
</div>
<input type="text" class="form-control" >
</div>
</div>
-->
<div class="col-xs-0 col-md-12">
<br>
<button type="submit" class="btn btn-large btn-success"> Sign Up </button>
</div>
</div>
</div>
</div>
</div>



</form>
</div>
</div>
</body>
</html>