<title>Timer</title>
<script>
{% include "bootstrap/js/countdown.js" %}
</script>  
<script>
$(document).ready(function(){
    $('#countdown-holder1').change(function (){
        console.log("LOL");
    });
});
</script>
<br/>
{% if not date_time1 == None %}
<script>
console.log({{nowtime}});
console.log({{date_time1}});
</script>
<h4>Your next <a href="/post_page?key={{post_obj.id}}">trip</a> in your own vehicle from {{post_obj.fro}} to {{post_obj.to}}</h4>
<h4 id="countdown-holder1"></h4>  
<script>  
    var clock = document.getElementById("countdown-holder1")  
    , targetDate = new Date({{date_time1.year}}, {{date_time1.month-1}}, {{date_time1.day}}, {{date_time1.hour}}, {{date_time1.minute}}, {{date_time1.second}}, {{date_time1.microsecond}}); // Jan 1, 2050;  
    clock.innerHTML = countdown(targetDate).toString();  
    setInterval(function(){  
    
    clock.innerHTML = countdown(targetDate).toString();  
    if (clock.innerHTML.length == 0)
    setInterval(function() { window.location.href = document.URL; }, 1000);
    }, 1000);  
    
</script>  

{% endif %}
{% if not date_time2 == None %}
<h4 style="display:inline;">Your next <a href="/post_page/?key={{reserved_obj.post.id}}">trip</a> in {{reserved_obj.post.owner}}'s vehicle from {{reserved_obj.post.fro}} to {{reserved_obj.post.to}}</h4>
<h4 id="countdown-holder2" style="display:inline;"></h4>  
<script>  
    var clock2 = document.getElementById("countdown-holder2")  
    , targetDate2 = new Date({{date_time2.year}}, {{date_time2.month-1}}, {{date_time2.day}}, {{date_time2.hour}}, {{date_time2.minute}}, {{date_time2.second}}, {{date_time2.microsecond}}); // Jan 1, 2050;  
    
    clock2.innerHTML = countdown(targetDate2).toString();  
    setInterval(function(){  
    clock2.innerHTML = countdown(targetDate2).toString();  
    if (clock2.innerHTML.length == 0)
    setInterval(function() { window.location.href = document.URL; }, 1000);
    }, 1000);  
    
</script>  
{% endif %}